body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: rgb(61, 63, 68);
}

li{
  list-style: none;
}

.wrapper{
  text-align: center;
  margin: 0 auto;
  width: 980px;
}
/* Pager */
.pager {
  margin: 17px;
  text-align:center;
  clear: both;
}
.pager span {
  display: block;
  margin-right: 0.1em;
  display:inline;
  padding:10px;
  margin:0 3px;
  font-size:16px;
  font-weight:bold;
  border:1px solid #ccc;
  width:100px;
}
.pager a {
  text-decoration: none;
}
.pager a:hover {
  border: 1px solid #2e6ab1;
}
.pager .current{
  background-color: #f5f5f5;
}
.pager .next>a, .next>span {
  float:none;
}

.dimention-btn {
  display: inline-block;
  text-decoration: none;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}

a,a:hover,a:visited {
  color: #333;
  text-decoration:none;
}
a:hover {
  color: #ca2e21;
}

.form-wrapper input, .form-wrapper textarea {
  border: 1px solid #acb1b7;
  background-color: #fff;
  font-size: 12px;
  line-height: 19px;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  outline: none;
  margin-bottom: 10px;

}

.form-wrapper input[type="text"], .form-wrapper input[type="password"] {
  width: 300px;
  height: 22px;
}
.form-wrapper input[type="submit"] {
  width: 65px;
}
.form-wrapper textarea {
  width: 300px;
  height: 300px;
}

.memo-box{
  width:500px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.fl-left{
  float:left;
}

.fl-right{
  float: right;
}

.mt10{
  margin-top: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mr10{
  margin-right: 10px;
}

.meta-box{
  font-size: 15px;
}

.posted-date{
  font-size: 13px;
}

.memo-box p{
  margin-bottom: 40px;
}

.show-box{
  text-align:center;
}
.show-box div{
  margin:0 auto;
}
.destroy{
  cursor:pointer;
}
