{% extends "layouts/default.html" %}
{% block body %}
{% include 'memos/widgets/_back_list.html' %}
<h1>New memo</h1>
<form action="/memos/create" method="post" class="form-wrapper">
  {{ form.hidden_tag() }}
  <div>{{ form.title | safe }}</div>
  <ul class="errors">
  {% for error in form.title.errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
  <div>{{ form.content | safe }}</div>
  <ul class="errors">
  {% for error in form.content.errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
  <div>{{ form.tag_str | safe }}</div>
  <input type="submit" value="Add" class="dimention-btn">
</form>
{% endblock %}
